
accelerate
cn2an
cython
descript-audiotools==0.7.2
einops
ffmpeg-python
g2p-en
jieba
json5
keras
librosa
matplotlib
modelscope
munch
numba
numpy
omegaconf
opencv-python
pandas
safetensors
sentencepiece
tensorboard
textstat
tokenizers
torch==2.4.1 
torchaudio==2.4.1 
torchvision==0.19.1
tqdm
transformers==4.52.1
WeTextProcessing
gradio
deepspeed
